---
---
<div class="wf-footer">
  <div class="wf-footer-grid">
    <div>
      <div class="wf-footer-wm">DubaiPoints<span class="dot">.</span></div>
      <div class="wf-footer-tag">UAE rewards, without the marketing.</div>
    </div>
    <div>
      <h4>Publication</h4>
      <ul><li><a>About</a></li><li><a>Editorial policy</a></li><li><a>How we make money</a></li></ul>
    </div>
    <div>
      <h4>Content</h4>
      <ul><li><a>Cards</a></li><li><a>Banks</a></li><li><a>Guides</a></li><li><a>News</a></li></ul>
    </div>
    <div>
      <h4>Tools</h4>
      <ul><li><a>Salary-transfer</a></li><li><a>Valuations</a></li><li><a>Compare</a></li></ul>
    </div>
  </div>
  <div class="wf-footer-bottom">
    <span>© 2026 DubaiPoints. UAE-resident-led, independent.</span>
    <span>info@dubaipoints.ae</span>
  </div>
</div>
